width: 216;
height: 56;
angle: 0 deg;
opacity: 1;
top: 475px;
left: 87px;
border-radius: 10px;
border-width: 1px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
gap: 10px;


background: #E81B1B;
border: 1px solid #000000
box-shadow: 0px -4px 4px 0px #000000AD inset;
